/**
 *
 * Search module.
 *
 * Contains styles related to search widget and search results.
 *
 */


/* Styles
================================================================================================================== */

.search {

  &--filter-wrapper--wide {
    width: 100%;
    padding-bottom: 2px;
    .search--filter-search-text[type="text"] {
      @include breakpoint(650px) {
        max-width: 86%;
      }
    }
  }
  // Widget display.
  &--widget {
    background: $blue;

    &.is-users,
    &.is-users .search--filter-dropdown,
    &.is-users .search--filter-wrapper-user,
    &.is-users .search--filter-dropdown-submit,
    &.is-users .search--widget-selected,
    &.is-users .search--filter-search-submit {
      @include background-set-color('blue', 1);
      border-color: $blue;
    }

    &.is-internship,
    &.is-internship .search--filter-dropdown,
    &.is-internship .search--filter-dropdown-submit,
    &.is-internship .search--widget-selected,
    &.is-internship .search--filter-search-submit {
      @include background-set-color('blue', 1);

      border-color: $blue;
    }
    &.is-education,
    &.is-education .search--filter-dropdown,
    &.is-education .search--filter-dropdown-submit,
    &.is-education .search--widget-selected,
    &.is-education .search--filter-search-submit {
      @include background-set-color('blue', 1);

      border-color: $blue;
    }

    .hidden {
      display: none;
    }
    .visible-md {
      display: none;
      @include breakpoint(650px) {
        display: block;
      }
      @include breakpoint(1000px) {
        display: none;
      }
    }
    .visible-lg {
      display: none;
      @include breakpoint(1000px) {
        display: block;
      }
    }
  }
  &--reset {
    //color: $white;
  }

  &-results {
    &--result {
      &.is-internship {
        border-bottom: 6px solid $blue;
        .ribbon {
          @include background-set-color('blue', 1);

          a,
          a:hover {
            /* Set the text properties */
            color: $white;
            text-decoration: none;
          }
        }
      }
      &.is-education {
        border-bottom: 6px solid $blue;
        .ribbon {
          @include background-set-color('blue', 1);

          a,
          a:hover {
            /* Set the text properties */
            color: $white;
            text-decoration: none;
          }
        }
      }
    }
  }

}




